<ul>
    <li *ngFor="let myObject of myObjects">
      <h2 class="name">{{myObject.name}}</h2>
      <p>{{myObject.description}}</p>
      <p class="quantity" *ngIf="myObject.quantity >= 10">There are a bunch of these. ({{myObject.quantity}})</p>
      <p class="quantity" *ngIf="myObject.quantity < 10">There aren't a bunch of these. ({{myObject.quantity}})</p>
      <p> The cost is {{myObject.price | currency:'USD':true}}</p>
      <div class="photo">
        <img src="{{myObject.image}}" alt="Image" />
      </div>
    </li>
    <h3>The total quantity of all of the objects is {{totalObjectQuantity()}}.</h3>
  </ul>
