<ul>
    <li *ngFor="let myObject of myObjects" [class.featured]="myObject.featured">
      <h2 class="name">{{myObject.name}}</h2>
      <p>{{myObject.description}}</p>
      <div class="select-quantity">
        <p>Quantity: &nbsp;
          <button class="decrease" (click)="downQuantity(myObject)" name="button">-</button>
          <input class="number" type="text" [(ngModel)]="myObject.quantity">
          <button class="increase" (click)="upQuantity(myObject)" name="button">+</button>
        </p>
      </div>
      <p> The cost is {{myObject.price | currency:'USD':true}}</p>
      <div class="photo">
        <img [src]="myObject.image" alt="Image" />
      </div>
      <br>
    </li>
    <h3>The total quantity of all of the objects is {{totalObjectQuantity()}}.</h3>
  </ul>
